a {
  color: red;
}

$column: 50px;

ul.menu {
  li {
    width: $column;
    display: inline-block;
    a {
      border: 1px solid grey;
      padding: 5px;
      display: block;
    }
  }
  li:after {
    padding-right: 10px;
  }
}

@for $i from 1 to 3 {
  .b-$i { width: $(i)px; }
}


@define-extend bg-green {
  background: green;
}

.notice--clear {
  @extend bg-green;
}